<html>
<head>
    <title>{% block title %}{% endblock %}</title>
 </head>

<body>
<div style="border: solid 1px; background-color: azure">
        <div style="float: right; text-align:center; padding:20px">
            {% if login == 0 %}
                <a href="/login">登录</a>
            {% else %}
                <a href="/{{userName}}">{{ userName }}</a>
            {% endif %}
        </div>
        <div  style="clear: both">
            <hr>
            <form action="/equipment/search" method="get">
                <label>Title</label>
                <input type="text" name="title">
                <label>Owner</label>
                <input type="text" name="owner">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
    <h3> {{ currentDir }} </h3>
    {% block content %}{% endblock %}
</body>
</html>
